

/* Custom default button */

.btn-secondary:hover{
  color:white;
  background-color: #08EFBD;

}
.btn-secondary,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #088F8D;
  border: none;
  color :black;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #222C2F;
}

body {
 
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  margin: 0px;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

td{
  padding: 5px;
}

header {
  background-color: #020C0F;
  grid-area: header;
  border-bottom-right-radius:10px; 
 border-bottom-left-radius:10px;
  padding: 10px;
}
